.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.meal {
  display: flex;
  justify-content: space-between;

  
}

.breakfast, .lunch, .dinner {
  
  flex-basis: 400px;
	flex-grow: 0;
	flex-shrink: 0;
}

.breakfast {
  padding-left: 100px;

}

.dinner {

  padding-right: 100px;
}
h4 {
  padding-top:0;
  margin-top:0;
}

h2 {
  margin-bottom:0;
  padding-bottom:0;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

a:static {
    color: #F0DBDB;
}
a:visited {
    color: white;
}
a:hover{
    color: #FF0000;
}



h1 {
  padding-top: 50px;
}

body {
  
  background: #F0DBDB;
}